* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: rgb(27, 27, 27);
    color: white;
    padding: 10px;
}
.nav-bar {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    
}
#title-food {
    color: rgb(255, 99, 43);
}
.search {
    border: 1px solid rgb(255, 99, 43);
    border-radius: 5px;
    pa
}
.navs {
    display: flex;
    list-style: none;
    align-items: center;
}
li {
    margin: 0px 7px;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: rgb(255, 99, 43);
}