* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* header */
header {
    background-color: rgb(27, 27, 27);
    color: rgb(219, 219, 219);
    padding: 10px 0px;
}
.nav-bar {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#title-food {
    color: rgb(255, 99, 43);
}
.search {
    border: 1px solid rgb(255, 99, 43);
    border-radius: 5px;
    padding-left: 5px;
    height: 30px;
}
.navs {
    display: flex;
    list-style: none;
    padding-left: 0;
}
li {
    margin: 0px 7px;
}
a {
    text-decoration: none;
    color: rgb(219, 219, 219);
}
a:hover {
    color: rgb(255, 99, 43);
}
/* banner */
.skip {
    color: rgb(255, 99, 43);
}
.banner-items {
    width: 1200px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}
.banner-half {
    width: 45%;
}
.banner-title {
    margin: 20px 0;
    font-size: 60px;
}
.order-btn, .contact-btn {
    background-image: linear-gradient(rgb(248, 136, 96), rgb(255, 0, 0));
    border: none;
    border-radius: 30px;
    margin: 20px 0;
    padding: 10px 25px;
    color: white;
}
.banner-img {
    float: right;
    width: 400px;
}
/* about */
.about {
    background-image: url(../img/7.png);
    background-repeat: no-repeat;
    width: 1200px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}
.about-img {
    width: 300px;
}
.about-half {
    width: 40%;
}
.about-me-title {
    margin-bottom: 15px;
    font-size: 50px;
}
/* recipies */
.recipies {
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}
.recipies-title {
    text-align: center;
    font-size: 30px;
}
.recipies-about {
    width: 50%;
    margin: 20px auto 40px;
    text-align: center;
}
.recipie-items {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 300px;
}
.recipie-item {
    margin: 0 30px;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0px 0px 30px rgb(192, 192, 192);
}
.recipie-img {
    width: 280px;
    border-radius: 20px;
}
.recipie-name {
    margin: 20px 0 10px;
}
/* show off */
.show-off {
    display: flex;
    justify-content: center;
    width: 1080px;
    border-radius: 20px;
    margin: 50px auto;
    box-shadow: 0px 0px 30px rgb(192, 192, 192);
}
.show-off-items {
    margin: 50px 75px;
}
.show-off-items h1 {
    font-size: 50px;
}
/* customers review */
.review-main {
    width: 1200px;
    margin: 0 auto;
    justify-content: center;
}
.review-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}
.reviews {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    grid-gap: 25px;
    justify-content: center;
    margin: 0 auto;
}
.review {
    display: flex;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 30px rgb(192, 192, 192);
}
.review-right {
    margin-left: 20px;
}
.review-img {
    width: 100px;
    border-radius: 50%;
}
.review-text {
    margin-bottom: 20px;
}
.see-more-reviews {
    width: 90%;
    margin: 10px auto;
    margin-bottom: 50px;
}
/* footer */
footer {
    background-color: black;
    color: rgb(219, 219, 219);
    text-align: center;
    padding: 100px 0;
}